.card-sale {
  display: flex;
  flex-direction: column;
}

.card-img {
  height: 255px;
}

@media (max-width: 990px) {
  .card-sale {
    flex-direction: row;
  }
  .card-sale-hidden {
    display: none;
  }

  .card-sale-mentor {
    display: flex;
  }

  .card-img {
    width: 80px;
    height: 80px;
  }
}
