.icon-crop {
  width: 31px;
  height: 25px;
}
.icon-crop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.payment-method-show {
  display: none;
}

@media (max-width: 425px) {
  .payment-method-show {
    display: block;
  }
}
