.text-wrap-update {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-product-mobile {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}

.hero-section-text {
  width: 80%;
}

@media (max-width: 992px) {
  .detail-product-mobile {
    width: 94%;
    display: block;
  }
}
