.mobile-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-responsive{
    display: flex;
}

.mobile-mode-switch {
  display: block;
}

@media (max-width: 990px) {
  .mobile-mode {
    display: flex;
    flex-direction: column;
  }

  .mobile-mode-switch {
    display: none;
  }
}
