.card-mobile{
    width: 590px;
}

.btn-login{
    background-color: #3ECF4C;
    color: #ffff;
}

.btn-register{
    background-color: #E2FCD9CC;
    color: #3ECF4C;
}

@media(max-width: 480px){
    .card-mobile{
        width: 320px;
    }
}